@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
      url('fonts/Gilroy-Medium.woff2') format('woff2'),
      url('fonts/Gilroy-Medium.woff') format('woff'),
      url('fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
      url('fonts/Gilroy-Bold.woff2') format('woff2'),
      url('fonts/Gilroy-Bold.woff') format('woff'),
      url('fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: Gilroy;
  font-size: 16px;
  padding: 10px;
}

.center {
  margin: 0 auto;
  max-width: 1000px; /* !!! */
}

.main h1 {
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.filter {
  display: flex;
  gap: 5px;
}

.items {
  padding: 40px 0 100px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

footer {
  padding-top: 40px;
}

.jumbotron {
  padding-bottom: 50px;
}

.carousel-item {
  height: 500px;
}

iframe {
  padding-top: 40px;
  width: 100%;
}

@media (max-width: 999px) {

}
