@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
      url('fonts/Gilroy-Medium.woff2') format('woff2'),
      url('fonts/Gilroy-Medium.woff') format('woff'),
      url('fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
      url('fonts/Gilroy-Bold.woff2') format('woff2'),
      url('fonts/Gilroy-Bold.woff') format('woff'),
      url('fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: Gilroy;
  font-size: 16px;
}

.center {
  margin: 0 auto;
  max-width: 1000px; /* !!! */
}

main {
  min-height: calc(100vh - 160px);
}

.footer {
  height: 25px;
}

.nav {
  padding-top: 15px;
  padding-bottom: 10px;
}

.nav ul {
  display: flex;
  gap: 4px;
  list-style: none;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: black;
  padding: 10px 10px;
  border-radius: 10px;
  transition: all 0.4s;
}

.nav a:hover {
  color: white;
  background-color: black;
  transition: all 0.4s;
}

cite {
  display: block;
  padding: 10px;
  background-color: lavender;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  padding-bottom: 20px;
}

.three {
  display: grid;
  gap: 35px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 15px;
}

.three p {
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.three img {
  max-width: 100%;
  box-shadow: none;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

textarea {
  min-width: 350px;
  min-height: 100px;
}

button {
  padding: 15px 100px;
  margin: 0 auto;
  cursor: pointer;
}

.agreement {
  margin: 0 auto;
  padding: 25px;
}

.form-div-1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.form-div-1 input {
  width: 275px;
  padding: 25px;
  color: black;
  font-size: 16px;
  border: 1px solid black;
}

.form-div-2 {
  display: flex;
  justify-content: space-around;
}

.form-div-3 {
  display: flex;
  justify-content: center;
}

.form-div-3, .form-div-4 {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-bottom: 30px;
}

.form-div-5 {
  display: flex;
  justify-content: space-around;
}

main iframe {
  margin-top: 40px;
  width: 100%;
  height: 125px;
  border-radius: 15px;
}

@media (max-width: 999px) {
  .nav {
    padding: 0;
  }

  .nav ul {
    flex-direction: column;
    row-gap: 10px;
  }

  .nav a {
    color: white;
    background-color: black;
    width: 100%;
    display: block;
    box-sizing: border-box;
  }

  .nav a:hover {
    color: black;
    background-color: white;
  }

  .three {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .three p {
    margin: 0;
    box-shadow: none;
  }

  .three img {
    display: none;
  }

  .footer {
    position: initial;
    margin-left: 0;
    left: 0;
    bottom: 10px;
  }
}
@media (min-width: 1000px) and (max-width: 1599px) {

}
@media (min-width: 1600px) {

}
