
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 900px;
  }

  h2,
  h3 {
    font-weight: lighter;
  }

  nav {
    padding-bottom: 15px;
  }

  nav a {
    transition: all 0.2s;
    padding: 5px 20px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
  }

  nav a:hover {
    transition: all 0.2s;
    color: white;
    background-color: gray;
  }

  nav a.current {
    text-decoration: underline;
  }

  footer {
    margin-top: 40px;
    padding-top: 15px;
    border-top: 1px solid black;
    padding-bottom: 40px;
  }

  .form__block {
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
  }

  .form__column {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  .form__text {
    width: 300px;
    height: 30px;
  }

  .form__submit {
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .scroll-to-top {
    position: fixed;
    left: 40px;
    bottom: 40px;
    width: 0;
    height: 0;
    border: 50px solid white;
    border-bottom-color: black;
    /* background-color: black; */
  }
